<html>
<head>
<title>Please Log In</title>
</head>

<body>
	{% if error %}
	<b>Wrong username and/or password</b>
	{% end %}
<form action="/login" method="POST">
    <table>
    	<tr>
    		<td>Username:</td>
    		<td><input type="text" name="username" /></td>
    	</tr>
    	<tr>
    		<td>Password:</td>
    		<td><input type="password" name="password" /></td>
    	</tr>
    </table>
    <p><input type="submit" value="Log In" /></p>
    {% module xsrf_form_html() %}

</form>
<a href="/register">Register</a>
</body>
</html>